.ch{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(6, 167, 231);
    width: 250px;
    text-align: center;
    padding : 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.box{
    display: flex;
    margin: 5px;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.ch img{
    height: 100px;
    width: 100%;
}
.ch p{
    font-size: 18px;
    padding: 2px;
}
@media (max-width : 800px) {
    .ch img{
        width: 100%;
    }
    .ttt{
        padding: 2px 20px;
    }
}