.client-image{
    display: flex;
    justify-content: center;
}
.client-image img{
    height: 300px;
    width: 600px;
    margin: 5px;
}
.clients{
    background-color: #f0fde3;
    width : 100%;
}
@media (max-width : 800px)
{
    .client-image{
        flex-direction: column;
    }
    .client-image img{
        height: 200px;
        width: 100%;
    }
}