.client-image{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.rty3{
    font-size: 20px;
}
.client-image img{
    height: 60px;
    width: 100px;
    margin: 4px;
    image-rendering: optimizeSpeed;
}
.client-image img:hover{
    transform : scale(2);
    box-shadow: 5px 5px 5px 5px rgba(54, 44, 44, 0.719);
    border-radius: 10px;
    transition: 2s;
}
.clients{
    background-color: #fffdd0	;
    width : 100%;
}
@media (max-width : 800px)
{
    /* .client-image{
        flex-direction: column;
    } */
    .client-image img{
        height: 40px;
        width: 80px;
    } 
    .client-image{
        justify-content: center;
        align-items: center;
    }
}