.client-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.client-image img{
    height: 200px;
    width: 450px;
    margin: 5px;
}
.clients{
    background-color: #f0fde3;
    width: 100%;
}
@media (max-width : 800px)
{
    .client-image img{
        height: 150px;
        width: 300px;
    }
}