.footer{
    background-color: black;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
.f{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.o{
    color: #f58634;
    font-size: 20px;
    font-weight: bolder;
}
.g{
    text-decoration: none;
    color: gray;
}
.g:hover{
    margin-left: 8px;
    transition: 1s;
}
.r{
    text-decoration: none;
    color: gray;
}
.r:hover{
    margin-left: 8px;
    transition: 1s;
}
@media (max-width : 800px)
{
    .footer-container{
        flex-direction: column;
    }
}