/* .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 200px;
    width: 200px;
    outline: black;
    background-color: orange;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid white;
} */
.carousel-caption1{
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: left;
}

@media (max-width : 600px)
{
    .carousel-caption1 h1{
        font-size: 15px;
    }
}