.logo{
    height: 60px;
    margin-left: 100px;
}

.request{
    border: 1px solid #f58634;
    border-radius: 25px;
    /* display: inline-block; */
    margin-left:400px;
    /* 
    margin-top: 5px;
    margin-bottom: 10px; */
    font-size: 20px;
    padding: 5px 20px;
    width: max-content;
    text-decoration: none;
    color: #f58634;
    
}
@media (max-width: 800px)
{
    .request{
        padding: 2px 10px;
        font-size: 25px;
        border-radius: 20px;
        margin-left: 20px;
        
    }
    .logo{
        
        width: 140px;
        height: 80px;
        margin-left: 3px;
    }
}